draw_config:
  key_w: 60.0
  key_h: 56.0
  split_gap: 30.0
  combo_w: 28.0
  combo_h: 26.0
  key_rx: 6.0
  key_ry: 6.0
  dark_mode: 'auto'
  n_columns: 1
  separate_combo_diagrams: false
  combo_diagrams_scale: 2
  inner_pad_w: 2.0
  inner_pad_h: 2.0
  outer_pad_w: 30.0
  outer_pad_h: 56.0
  line_spacing: 1.2
  arc_radius: 6.0
  append_colon_to_layer_header: true
  small_pad: 2.0
  legend_rel_x: 0.0
  legend_rel_y: 0.0
  draw_key_sides: false
  key_side_pars:
    rel_x: 0
    rel_y: 4
    rel_w: 12
    rel_h: 12
    rx: 4
    ry: 4
  svg_extra_style: |
    /* font and background color specifications */
    svg.keymap {
        font-family: Avenir, 'Avenir Next', 'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
        font-size: 20px;
    }
    svg text.key.shifted {
        font-weight: bold;
    }
    svg text.layer-activator {
        text-decoration: none;
    }

  shrink_wide_legends: 7
  glyph_tap_size: 20
  glyph_hold_size: 12
  glyph_shifted_size: 10
  glyphs:
    esc: |
      <svg viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M12.777 11.235 11.21 12.79 7.15 8.739l-1.823 1.836V5.327h5.236L8.715 7.174Zm5.896.771q0 2.728-1.933 4.698-1.933 1.969-4.746 1.969-2.63 0-4.563-1.762-1.933-1.773-2.104-4.905h1.994q.122 2.214 1.492 3.45 1.383 1.223 3.18 1.223 1.86 0 3.255-1.297 1.407-1.309 1.407-3.376 0-1.835-1.248-3.193-1.236-1.358-3.413-1.48V5.327q3.131.098 4.905 2.165 1.774 2.055 1.774 4.514z" style="font-size:25.0529px;fill:#000;fill-opacity:1;stroke-width:.854074" aria-label="Esc"/>
      </svg>
  glyph_urls:
    tabler: https://unpkg.com/@tabler/icons/icons/{}.svg
    mdi: https://raw.githubusercontent.com/Templarian/MaterialDesign-SVG/master/svg/{}.svg
    mdil: https://raw.githubusercontent.com/Pictogrammers/MaterialDesignLight/master/svg/{}.svg
    material: https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/{}/default/48px.svg
  use_local_cache: true
parse_config:
  preprocess: true
  skip_binding_parsing: false
  raw_binding_map:
    "&bootloader": "Boot"
    "&sys_reset": "Reset"
    "&mkp LCLK": "$$mdi:mouse-left-click$$"
    "&mkp RCLK": "$$mdi:mouse-right-click$$"
    "&mkp MCLK": "$$mdi:mouse-scroll-wheel$$"
    "&msc SCRL_LEFT": '$$mdi:transfer-left$$'
    "&msc SCRL_RIGHT": '$$mdi:transfer-right$$'
    "&msc SCRL_UP": '$$mdi:transfer-up$$'
    "&msc SCRL_DOWN": '$$mdi:transfer-down$$'
    "&mmv MOVE_LEFT": "$$mdi:arrow-left-bold-outline$$"
    "&mmv MOVE_RIGHT": "$$mdi:arrow-right-bold-outline$$"
    "&mmv MOVE_UP": "$$mdi:arrow-up-bold-outline$$"
    "&mmv MOVE_DOWN": "$$mdi:arrow-down-bold-outline$$"
    "&caps_word": "$$mdi:keyboard-caps$$"
    "&s_mouse": "$$mdi:mouse-outline$$"
    "&u_macro_s_bt_sel_0": "$$mdi:close-thick$$"
    "&u_macro_s_bt_sel_1": "$$mdi:close-thick$$"
    "&u_macro_s_bt_sel_2": "$$mdi:close-thick$$"
    "&u_macro_s_bt_sel_3": "$$mdi:close-thick$$"
    "&u_macro_s_bt_sel_4": "$$mdi:close-thick$$"
    "&to 7": "$$mdi:controller$$"
    "&to 0": "$$mdi:controller-off$$"
    "&bt BT_SEL 0": "$$mdi:bluetooth$$"
    "&bt BT_SEL 1": "$$mdi:bluetooth$$"
    "&bt BT_SEL 2": "$$mdi:bluetooth$$"
    "&bt BT_SEL 3": "$$mdi:bluetooth$$"
    "&bt BT_SEL 4": "$$mdi:bluetooth$$"
    "&sys_reset": "$$mdi:cog-refresh$$"
    "&bootloader": "$$mdi:chip$$"
    "&mo GMN": '$$mdi:numeric$$'
  sticky_label: sticky
  toggle_label: toggle
  trans_legend:
    t: "$$mdi:menu-down-outline$$"
    type: trans
  mark_alternate_layer_activators: false
  zmk_remove_keycode_prefix: ['KP_', 'C_', 'K_']
  zmk_keycode_map:
    EXCLAMATION: '!'
    EXCL: '!'
    AT_SIGN: '@'
    AT: '@'
    BSPC: '$$mdi:backspace-outline$$'
    DEL: '$$mdi:backspace-reverse-outline$$'
    RET: '$$mdi:keyboard-return$$'
    SPACE: '$$mdi:keyboard-space$$'
    ESC: '$$esc$$'
    TAB: '$$mdi:keyboard-tab$$'
    LGUI: '$$mdi:apple-keyboard-command$$'
    LALT: '$$mdi:apple-keyboard-option$$'
    LCTRL: '$$mdi:apple-keyboard-control$$'
    LSHFT: '$$mdi:apple-keyboard-shift$$'
    RGUI: '$$mdi:apple-keyboard-command$$'
    RALT: '$$mdi:apple-keyboard-option$$'
    RCTRL: '$$mdi:apple-keyboard-control$$'
    RSHFT: '$$mdi:apple-keyboard-shift$$'
    CAPS: "$$mdi:apple-keyboard-caps$$"
    BRI_DN: '$$mdi:brightness-5$$'
    BRI_UP: '$$mdi:brightness-7$$'
    VOL_DN: '$$mdi:volume-medium$$'
    VOL_UP: '$$mdi:volume-high$$'
    PREVIOUS: '$$mdi:skip-previous$$'
    C_PREV: '$$mdi:skip-previous$$'
    NEXT: '$$mdi:skip-next$$'
    C_NEXT:  '$$mdi:skip-next$$'
    PLAY_PAUSE: '$$mdi:play-pause$$'
    C_PP: '$$mdi:play-pause$$'
    MUTE: '$$mdi:volume-variant-off$$'
    LEFT: '$$mdi:arrow-left-bold$$'
    DOWN: '$$mdi:arrow-down-bold$$'
    UP: '$$mdi:arrow-up-bold$$'
    RIGHT: '$$mdi:arrow-up-bold$$'
    F1: '$$mdi:keyboard-f1$$'
    F2: '$$mdi:keyboard-f2$$'
    F3: '$$mdi:keyboard-f3$$'
    F4: '$$mdi:keyboard-f4$$'
    F5: '$$mdi:keyboard-f5$$'
    F6: '$$mdi:keyboard-f6$$'
    F7: '$$mdi:keyboard-f7$$'
    F8: '$$mdi:keyboard-f8$$'
    F9: '$$mdi:keyboard-f9$$'
    F10: '$$mdi:keyboard-f10$$'
    F11: '$$mdi:keyboard-f11$$'
    F12: '$$mdi:keyboard-f12$$'
    #PG_UP: 'Page Up'
    PG_UP: '⇞'
    #PG_DN: 'Page Down'
    PG_DN: '⇟'
    #HOME: 'Home'
    HOME: '$$mdi:arrow-top-left$$'
    #END: 'End'
    END: '$$mdi:arrow-bottom-right$$'
    GLOBE: '$$mdi:web$$'
    HASH: '#'
    POUND: '#'
    DOLLAR: $
    DLLR: $
    PERCENT: '%'
    PRCNT: '%'
    CARET: ^
    AMPERSAND: '&'
    AMPS: '&'
    ASTERISK: '*'
    ASTRK: '*'
    STAR: '*'
    LEFT_PARENTHESIS: (
    LPAR: (
    RIGHT_PARENTHESIS: )
    RPAR: )
    EQUAL: '='
    PLUS: +
    MINUS: '-'
    UNDERSCORE: _
    UNDER: _
    SLASH: /
    FSLH: /
    QUESTION: '?'
    QMARK: '?'
    BACKSLASH: \
    BSLH: \
    PIPE: '|'
    NON_US_BACKSLASH: \
    PIPE2: '|'
    NON_US_BSLH: '|'
    SEMICOLON: ;
    SEMI: ;
    COLON: ':'
    SINGLE_QUOTE: ''''
    SQT: ''''
    APOSTROPHE: ''''
    APOS: ''''
    DOUBLE_QUOTES: '"'
    DQT: '"'
    COMMA: ','
    LESS_THAN: <
    LT: <
    PERIOD: .
    DOT: .
    GREATER_THAN: '>'
    GT: '>'
    LEFT_BRACKET: '['
    LBKT: '['
    LEFT_BRACE: '{'
    LBRC: '{'
    RIGHT_BRACKET: ']'
    RBKT: ']'
    RIGHT_BRACE: '}'
    RBRC: '}'
    GRAVE: '`'
    TILDE: '~'
    NON_US_HASH: '#'
    NUHS: '#'
    TILDE2: '~'
    GAME_N: '$$mdi:numeric$$'
  zmk_combos:
    combo_bas_inner_thmbs: {"align": "top", "offset": 0.5}
    combo_gm_inner_thmbs: {"align": "top", "offset": 0.5}
    combo_bas_mid_thmbs: {"align": "bottom", "offset": 0.8}
    combo_bas_outer_thmbs: {"align": "bottom", "offset": 1.5}
